<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
  <h1 class="text-5xl font-bold my-5">Sobre nosotros</h1>
  <p class="text-zinc-300">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla nisi harum eveniet commodi animi
    dolor tempore impedit. Neque, assumenda enim.
  </p>
</section>
