<footer>
  <div>
    <h4>Site Map</h4>
    <a href="">Home</a>
    <a href="about">About</a>
    <a href="priging">Pricing</a>
  </div>
  <div>
    <h4 class="font-bold">Site Map</h4>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div>
    <h4>Socia Links</h4>
    <a href="">Facebook</a>
    <a href="">Instagram</a>
    <a href="">Tik Tok</a>
  </div>
</footer>
