---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Acerca del sitio">
  <h1>About</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aut vero exercitationem deleniti.
    Libero quia unde officia animi veniam ipsa ipsam fugiat iste quam maxime explicabo possimus
    dolorum non nihil fugit temporibus nemo vel atque mollitia modi maiores, aspernatur optio! Nemo,
    quae adipisci totam aperiam aspernatur at! Facilis, repellendus excepturi dolorem est ducimus
    illum officiis optio in, accusantium sapiente illo, modi harum nemo earum quaerat iste quas
    aspernatur sunt. Quo aspernatur dicta nam eligendi repellendus sapiente! Ad earum architecto
    facilis ut tenetur illum impedit quas dignissimos numquam quasi totam voluptatum optio neque
    assumenda quam quos, omnis sequi! Pariatur, magni asperiores.
  </p>
</Layout>
